{% extends 'Home/Prueba.html'%}

{% block contenido %}

<div class="container bg-white rounded">
    <p class="h1 text-center">Factura</p>
    <div class="card col-md-12 border-0 " >
        <div class="card-header bg-white ">
            <div class="row no-gutters border border-dark">
                <div class="col-md-6">
                    <table class="table table-hover table-sm " >
                        <thead>
                            <tr>
                            <th class="h5 text-center" scope="col">Producto</th>
                            <th class="h5 text-center" scope="col">Cantidad</th>
                            <th class="h5 text-center" scope="col">Total</th>
                            </tr>
                        </thead>
                        {% for cp in backup %}
                        {% if cp.cart_id == bill.cart_id_id %}
                        {% for pr in products%}
                        {% if pr.product_id == cp.product_id%}
                        <tbody>
                            <tr>
                            <td class="p-4 text-center">{{ pr.product_name }}</td>
                            <td class="p-4 text-center">{{ cp.amount }}</td>
                            <td class="p-4 text-center">${{cp.price_total}}</td>
                            </tr>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
                <div class="col-md-6 card-body border-left border-dark">
                    {% for cp in backup %}
                    {% if forloop.first%}
                    {% for cart in cart%}
                    {% if cp.cart_id == cart.cart_id %}
                        <p class="h4 p-4  text-center">Información del cliente</p>
                        <div class="col-sm-12 justify-content-center align-items-center">
                            <div class="col-sm-12 d-flex">
                                <p class="col-sm-4 h5  "> Nombre: </p>
                                <p class="col-sm-8  "> {{ cart.customer_id.first_name }} {{ cart.customer_id.last_name }} </p>
                            </div>
                        </div>
                        <div class="col-sm-12 justify-content-center align-items-center">
                            <div class="col-sm-12 d-flex">
                                <p class="col-sm-4 h5  "> Número: </p>
                                <p class="col-sm-8  "> {{ cart.customer_id.phone_number }} </p>
                            </div>
                                {% for q in address %}
                                    {% if cart.customer_id.address_id == q %}
                                        {% for y in city %}
                                            {% if q.city_id == y %}
                                                <div class="col-sm-12 d-flex">
                                                    <p class="col-sm-4 h5  "> País: </p>
                                                    <p class="col-sm-8  "> {{y.country}} </p>
                                                </div>
                                                <div class="col-sm-12 d-flex">
                                                    <p class="col-sm-4 h5  "> Ciudad: </p>
                                                    <p class="col-sm-8  "> {{y.city_name}} </p>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <div class="col-sm-12 d-flex">
                                            <p class="col-sm-4 h5  "> Dirección: </p>
                                            <p class="col-sm-8  "> {{q.address}} </p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        <div class="h5 p-5 text-center"> TOTAL = ${{cp.total}}</div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    <div class="p-3">
        <a type="button" class="btn btn-primary btn-lg btn-block " href="/products/" role="button">Cancelar</a>
    </div>
</div>

{% endblock %}